/* 
    Created on : 29-10-2021, 20:53:10
    Author     : monse
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn-login{
    background-color: #304F8C;
    color: white;
    border-radius: 8px;
    width: 50%;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.navbar-custom,
.navbar-custom .dropdown-menu{
    background-color: #304F8C;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link,
.navbar-custom .dropdown-menu .dropdown-item{
    color: #FFFFFF;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link,
.navbar-custom .dropdown-menu .dropdown-item:hover
{
    color: #4AB0D9;
}

.navbar-custom .dropdown-menu .dropdown-item{
    color: #FFFFFF;
    background-color: inherit;
 
}


.saludo-usuario{
    font-size: 24px;
    font-weight: bold;
    color: #304F8C;
    background-color: #f5fbfc;
    padding: 20px 20px 0px 20px;

}

.elementos-saludo{
    padding-top: 50px;
}

.saludo-2{
    margin-right: 50px;

}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
    color: #3B82BF;
    margin-left: 10px;
    font-weight: 700;
    flex-grow: 100;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #4AB0D9;
    margin-left: 10px;
    font-weight: 700;
    flex-grow: 100;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #3B82BF;
    margin-left: 10px;
    font-weight: 700;
    flex-grow: 100;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #304F8C;
    margin-left: 10px;
    font-weight: 700;
    flex-grow: 100;
}
.btn-flujo{
    background-color: #304F8C;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    border: none;
    width: 200px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 30px;
}

.btn-flujo:hover{
    color: #4AB0D9;

}

.contenedor-data{
    margin-left: 30px;
    margin-right: 30px;
}

form-control-inline{
    min-width: 0;
    width: auto;
    display: inline;
    background-color: #304F8C;
}

.btn-table{
    background-color: #55cee6;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
    border: none;
    width: 150px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 30px;
}

.btn-table:hover{
    color: #4AB0D9;

}

.no-border {
    border: 0;
    box-shadow: none;
}

.leyenda{
    background-color: #d9edf7;
    color: #002a80;
    margin-left: 30px;
}



.btn-disable {
    background-color: #cdd4df;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    border: none;
    width: 200px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 30px;

}

.fa-circle  {
    color: red;
}

