<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:include="layout/plantilla :: head"></head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <div sec:authorize="hasAnyRole('FUNCIONARIO')" ><h1>Usted no tiene autotización para ver esta información</h1></div><!--para usuario funcionario-->
        <div sec:authorize="hasAnyRole('ROLE_SUPERVISOR','ROLE_GERENCIA')" > <!--autorización de contenido-->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <img src="../static/img/micarga.png" th:src="@{img/micarga.png}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        DATOS
                    </div>
                    <div class="col-md-6">
                        GRAFICO
                    </div>
                </div>
            </div>
        </div> <!--fin autorizacion de contenido-->
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
