<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:include="layout/plantilla :: head">
        <body>

            <header th:replace="layout/plantilla :: header"></header>



            <!-- Titulo PROCESOS, LISTA DE TODOS, pero se muestran solo las propias -->

            <div class="d-flex mb-3 align-text-bottom">
                <div class="me-auto p-2">

                    <h1>PROCESOS</h1>

                </div>
                <div class="p-2">   

                </div>
                <div class="p-2">
                    <button class="btn-flujo">Ejecutar proceso</button>

                </div>
            </div>
            <!-- Display de procesos -->
            <div th:if="${procesoejec != null and !procesoejec.empty}">
                <table border="1">
                    <tr>
                        <th>Proceso</th>
                        <th>Creador</th>
                        <th>SubUnidad</th>
                        <th>Fecha límite</th>
                        <th>Control</th>
                        <th>Estado</th>

                    </tr>
                    <tr th:each="procesos : ${procesos}">
                        <td th:text="${procesos.proceso}">Mostrar Nombre</td>
                        <td th:text="${procesos.ejecutor}">Mostrar creador</td>
                        <td th:text="${procesos.subunidad}">Mostrar subunidad</td>
                        <td th:text="${procesos.fechaLimite}">Mostrar fecha limite</td>
                        <td>No implementado</td>
                        <td th:text="${procesos.estado}">Mostrar estado</td>
                    </tr>
                </table>

                <div th:if="${procesos == null or procesos.empty}">
                    La lista de procesos está vacía
                </div>
            </div>  

            <!-- prueba de data table -->



            <<script type="text/javascript" th:src="@{js/dataTable.js}"></script>

        </body>
</html>
