<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Apolonia</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <link rel="stylesheet" th:href="@{/css/estilo.css}"/>
        <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap5.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/datatables.min.css}"/>
        <link rel="shortcut icon" type="image/png" th:href="@{/img/logo56x.png}"/>

    </head>
    <body>

        <header th:replace="layout/plantilla :: header"></header>

       <div class="d-flex mb-3 align-text-bottom">
            <div class="me-auto p-2">

                <h1>Tareas</h1>

            </div>
            <div class="p-2">   

            </div>
            <div class="p-2">
                <a class="dropdown-item" th:href="@{/}"><button class="btn-flujo">Nueva Tarea</button></a>

            </div>
        </div>
        <!-- Data Table Listado de tareas por RUN -->
        <span th:if="${tareasRun == null or tareasRun.empty}"> Usted no tiene tareas asignadas</span>


        <div th:if="${tareasRun != null and !tareasRun.empty}" class="contenedor-data">
            <table id="tareasRun" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Tarea</th>
                        <th>Asignada por</th>
                        <th>Fecha límite</th>
                        <th>Control</th>
                        <th>Estado</th>
                        <th>Gestionar</th>
                    </tr>
                </thead>
                <tbody>

                    <tr th:each="tareasRun : ${tareasRun}">
                        <td th:text="${tareasRun.tarea}">Mostrar Tarea</td>
                        <td th:text="${tareasRun.ejecutor}">Mostrar Asignado por</td>
                        <td th:text="${tareasRun.fPrevFin}">Mostrar fecha fin</td>
                        <td>No implementado</td>
                        <td th:text="${tareasRun.estado}">Mostrar fecha fin</td>
                        <td><button>Gestionar</button></td>
                    </tr>

                </tbody>
                <tfoot>
                    <tr>
                        <th>Tarea</th>
                        <th>Asignada por</th>
                        <th>Fecha límite</th>
                        <th>Control</th>
                        <th>Estado</th>
                        <th>Gestionar</th>
                    </tr>
                </tfoot>
            </table>
        </div>


        <hr style="height:20px; width:100%; border-width:0; color:red; background-color: #cdd4df">


            <script th:src="@{js/jquery-3.6.0.min.js}"></script>
            <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
            <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
            <script th:src="@{/js/datatables.min.js}"></script>
            <script th:src="@{/js/main.js}"></script>
    </body>
</html>
