<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
            <title>Apolonia</title>
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
                <!-- estilos propios-->
                <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
                <link rel="stylesheet" th:href="@{/css/estilo.css}"/>
                <link rel="shortcut icon" type="image/png" th:href="@{/img/logo56x.png}"/>
                <!-- Date Picker -->
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.min.css" integrity="sha512-rxThY3LYIfYsVCWPCW9dB0k+e3RZB39f23ylUYTEuZMDrN/vRqLdaCBo/FbvVT6uC2r0ObfPzotsfKF9Qc5W5g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.standalone.min.css" integrity="sha512-p4vIrJ1mDmOVghNMM4YsWxm0ELMJ/T0IkdEvrkNHIcgFsSzDi/fV7YxzTzb3mnMvFPawuIyIrHcpxClauEfpQg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
                <!-- Data table-->
                <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap5.min.css}"/>
                <link rel="stylesheet" th:href="@{/css/datatables.min.css}"/>
                <!-- Optional JavaScript -->
                <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                <script src="https://code.jquery.com/jquery-3.5.1.js" ></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
                <!-- Always remember to call the above files first before calling the bootstrap.min.js file -->      
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
                </head>
                <body>

                    <header th:replace="layout/plantilla :: header"></header>
                    <div sec:authorize="hasAnyRole('FUNCIONARIO')" ><h1>Usted no tiene autotización para ver esta información</h1></div>
                    <div sec:authorize="hasAnyRole('ROLE_SUPERVISOR','ROLE_GERENCIA')" >
                        <div sec:authorize="hasAnyRole('ROLE_SUPERVISOR','ROLE_GERENCIA')">

                            <div class="row">
                                <div class="col-md-4">
                                    <h1 class="abajo">Procesos activos</h1>
                                    <a class="dropdown-item" th:href="@{/ejecutarproceso}"><button class="btn-flujo">Ejecutar proceso</button></a>
                                    <div class="leyenda">
                                        * El ejecutar un proceso, sirve para poner en marcha los procesos preparados especialmente para usted y su empresa / departamento.
                                    </div>
                                </div>
                                <div class="col-md-5">
                                </div>
                                <div class="col-md-3">
                                    <img src="../static/img/tarea3.png" th:src="@{img/tarea3.png}" width="400px">
                                </div>
                            </div>


                            <hr style="height:20px; width:100%; border-width:0; color:red; background-color: #cdd4df">

                                <!-- Data Table para sub Unidad , para supervisores -->

                                <div sec:authorize="hasAnyRole('ROLE_SUPERVISOR','ROLE_GERENCIA')">
                                    <h1>Procesos de su departamento</h1>
                                    <div th:if="${procesosSub != null and !procesosSub.empty}" class="contenedor-data">
                                        <table id="procesosSub" class="table table-striped" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>N</th>
                                                    <th>Proceso</th>
                                                    <th>Creador</th>
                                                    <th>SubUnidad</th>
                                                    <th>Fecha límite</th>
                                                    <th>Control</th>
                                                    <th>Estado</th>
                                                    <th>Gestionar</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr name="row" th:each="procesosUni, iter : ${procesosUni}">
                                                    <td th:text="${iter.index}+1"></td>
                                                    <td th:text="${procesosUni.proceso}">Mostrar Nombre</td>
                                                    <td th:text="${procesosUni.ejecutor}">Mostrar creador</td>
                                                    <td th:text="${procesosUni.subunidad}">Mostrar subunidad</td>
                                                    <td name="end" th:text="${procesosUni.fechaLimite}">Mostrar fecha limite</td>
                                                    <td name="control"></td>
                                                    <td th:text="${procesosUni.estado}">Mostrar estado</td>
                                                    <td>
                                                        <form th:action="@{/ejecuta2}">
                                                            <input type="hidden" th:value="${procesosUni.id_proceso}" th:name="idProcesoEjecutado">
                                                                <input class="btn-table" type="submit" value="Gestionar"/> 
                                                        </form>

                                                    </td>
                                                </tr>

                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>N</th>
                                                    <th>Proceso</th>
                                                    <th>Creador</th>
                                                    <th>SubUnidad</th>
                                                    <th>Fecha límite</th>
                                                    <th>Control</th>
                                                    <th>Estado</th>
                                                    <th>Gestionar</th>
                                                </tr>
                                            </tfoot>
                                        </table>

                                        <div th:if="${procesosSub == null or procesosSub.empty}">
                                            La lista de procesos está vacía
                                        </div>
                                    </div>

                                </div>

                                <hr style="height:20px; width:100%; border-width:0; color:red; background-color: #cdd4df">
                                    </div>


                                    <hr style="height:20px; width:100%; border-width:0; color:red; background-color: #cdd4df">

                                        <!-- Data Table Listado de tareas por Sub Unidad-->

                                        <div class="d-flex mb-3 align-text-bottom">
                                            <div class="me-auto p-2">

                                                <h1>Tareas de su área</h1>

                                            </div>
                                            <div class="p-2">   

                                            </div>
                                            <div class="p-2">


                                            </div>
                                        </div>

                                        <span th:if="${tareasSubUni == null or tareasSubUni.empty}"> Su área no tiene tareas designadas</span>


                                        <div th:if="${tareasSubUni != null and !tareasSubUni.empty}" class="contenedor-data">
                                            <table id="tareasSubunidad" class="table table-striped" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>Tarea</th>
                                                        <th>Asignada por</th>
                                                        <th>Fecha límite</th>
                                                        <th>Control</th>
                                                        <th>Estado</th>
                                                        <th>Ver</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr name="row" th:each="tareasSubUni : ${tareasSubUni}">
                                                        <td name='alert'></td>
                                                        <td th:text="${tareasSubUni.tarea}">Mostrar Tarea</td>
                                                        <td th:text="${tareasSubUni.ejecutor}">Mostrar Asignado por</td>
                                                        <td name="end" th:text="${tareasSubUni.fPrevFin}">Mostrar fecha fin</td>
                                                        <td name="control"></td>
                                                        <td name='estado' th:text="${tareasSubUni.estado}">Mostrar fecha fin</td>
                                                        <td>
                                                            <form th:action="@{/vertarea}">
                                                                <input type="hidden" th:value="@{/flujoempresa}" th:name="redireccion">
                                                                <input type="hidden" th:value="${tareasSubUni.idtarea}" th:name="idtarea"/> 
                                                                <input type="submit" class="btn btn-table" value="Ver tarea"/> 
                                                            </form>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th></th>
                                                        <th>Tarea</th>
                                                        <th>Asignada por</th>
                                                        <th>Fecha límite</th>
                                                        <th>Control</th>
                                                        <th>Estado</th>
                                                        <th>Ver</th>
                                                    </tr>
                                                </tfoot>
                                            </table>

                                            <hr style="height:20px; width:100%; border-width:0; color:red; background-color: #cdd4df">
                                        </div>   

                                        <input type="hidden" th:value="${tareasUnidad}" />
                                        <input type="hidden" th:value="${tareasSubUni}" />
                                        <footer th:replace="layout/plantilla :: footer"></footer>

                                        <script th:src="@{/js/datatables.min.js}"></script>
                                        <script th:src="@{/js/flujodata.js}"></script>
                                        <script>
                                            $("tr[name='row']").each(function () {
                                                console.log("entra");
                                                var date = new Date($(this).children("td[name='end']").html());
                                                var today = new Date();
                                                var timeLeft = (date.getTime() - today.getTime()) / (1000 * 60 * 60 * 24);
                                                console.log(timeLeft);

                                                if (timeLeft > 7)
                                                {
                                                    $(this).children("td[name='control']").addClass("bg-success");
                                                } else if (timeLeft > 0)
                                                {
                                                    $(this).children("td[name='control']").addClass("bg-warning");
                                                } else
                                                {
                                                    $(this).children("td[name='control']").addClass("bg-danger");
                                                }
                                                var estado = $(this).children('td[name="estado"]').html()
                                                if (estado == "Rechazada" || estado == "En Revisión")
                                                    $(this).children("td[name='alert']").html('<i class="fas fa-circle"></i>');
                                            });
                                        </script>
                                        </body>
                                        </html>
