<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head th:include="layout/plantilla :: head">
    <body>
        <div>TODO write content</div>
        <div th:if="${funcionarios != null and !funcionarios.empty}">
            <table border="1">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                </tr>
                <tr th:each="funcionarios : ${funcionarios}">
                    <td th:text="${funcionarios.nombres}">Mostrar Nombre</td>
                    <td th:text="${funcionarios.apellidop}">Mostrar Apellido</td>
                    <td th:text="${funcionarios.email}">Mostrar Email</td>
                    <td th:text="${funcionarios.username}">Mostrar Teléfono</td>
                </tr>
            </table>
        </div>
        <div th:if="${funcionarios == null or funcionarios.empty}">
            La lista de funcionarios está vacía
        </div>
    </body>
</html>
