<html>
    <head th:replace="layout/plantilla :: head"></head>

    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <div class="container-fluid" th:each="tareasEjecutadas  : ${tareasEjecutadas}">
            <!-- iterar datos-->
            <div class="row">
                <div class="col-md-12">
                    <h2 th:text=${tareasEjecutadas.tarea}></h2>
                    <hr style="height:10px; width:100%; border-width:0; background-color: #f3c17a">
                </div>
            </div>
            <div class="row">
                <div class="col-md-9"><!-- descripciones-->
                    <p> Asignado por: <span th:text="${tareasEjecutadas.ejecutor}"></span> </p>
                    <p> Descripción:  <span th:text="${tareasEjecutadas.descTarea}"></span></p>
                </div>
                <div class="col-md-3"><!-- Fechas y otros datos-->
                    <p>Fecha de asignación: <span th:text="${tareasEjecutadas.fechaAsignacion}"></span></p>
                    <p>Fecha de de inicio <span th:text="${tareasEjecutadas.fPrevInicio}">fecha de inicio prevista</span></p>
                    <p>Fecha de de término prevista <span th:text="${tareasEjecutadas.fPrevFin}">fecha de término prevista</span></p>
                    <p>Estado <span id="estadoTarea" th:text="${tareasEjecutadas.estado}"></span></p>
                    <ul>
                        <li>Fecha real de incio: <span th:text="${tareasEjecutadas.fRealInicio}">fecha de inicio prevista</span></li>
                        <li>Fecha real de término: <span th:text="${tareasEjecutadas.fRealFin}">fecha de inicio prevista</span></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6"><!-- documentos-->
                    <h3>Subir un documento a esta tarea</h3>
                    <div class="row" th:if="${tareasEjecutadas.estado != 'En Revisión'}">
                        <div class="col-md-12"><!-- subir archivos-->
                            <p>Adjunte archivo <img src="../static/img/upload.png" th:src="@{img/upload.png}" alt="upload ico"> </p>
                            <form method="post" th:action="@{/cargar}" enctype="multipart/form-data">
                                <div class="form-group">
                                    <input type="file" name="file" class="form-control-file">
                                    <input type="hidden" th:name="idtarea" th:value="${tareasEjecutadas.idtarea}"/>
                                </div>
                                <button type="submit" class="btn btn-primary">Subir Archivo</button>
                            </form>

                            <div class="leyenda"> Los archivos a subir deben tener un peso máximo de 1MB</div>
                        </div>
                    </div>
                    <!-- ARCHIVOS -->
                    </br>
                    <h3>Listado de documentos asociados a la tarea</h3>
                    <span th:if="${archivo == null or archivo.empty}"> Esta tarea no posee archivos asociados</span>


                    <div th:if="${archivo != null and !archivo.empty}" class="contenedor-data">
                        <table id="tareasRun" class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>Nombre</th>
                                    <th>Descargar</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr name="row" th:each="archivo,iterationStatus  : ${archivo}">
                                    <td th:text="${iterationStatus.count}">1</td>
                                    <td th:text="${archivo.nombre}">1</td>
                                    <td th:text="${archivo.fecha}">1</td>
                                    <td>
                                        <form th:action="@{/descargar}">
                                            <input type="hidden" th:value="${archivo.id}"  th:name="idArchivo" />
                                            <input type="hidden" th:value="${archivo.nombre}"  th:name="nombreArchivo" />
                                            <button type="submit" class="no-border" ><img src="img/archivo.png" alt="archivo ico"></button>

                                        </form>
                                    </td>

                                </tr>

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>N°</th>
                                    <th>Nombre</th>
                                    <th>Fecha</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- Observaciones-->
                    </br>
                    <p><b>Observaciones:</b></p>
                    <!-- Data Table Observaciones de la tarea -->
                    <span th:if="${observaciones == null or observaciones.empty}"> Esta tarea no tiene registrada las observaciones</span>


                    <div th:if="${observaciones != null and !observaciones.empty}" class="contenedor-data">
                        <table id="tareasRun" class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>Fecha</th>
                                    <th>Quien lo realiza</th>
                                    <th>Comentario</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr name="row" th:each="comentario,iterationStatus  : ${observaciones}">
                                    <td th:text="${iterationStatus.count}">1</td>
                                    <td th:text="${comentario.fecha}"></td>
                                    <td th:text="${comentario.nombre}"></td>
                                    <td th:text="${comentario.comentario}"></td>
                                </tr>

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>N°</th>
                                    <th>Fecha</th>
                                    <th>Quien lo realiza</th>
                                    <th>Comentario</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="col-md-3">
                    <!-- espacio en blanco-->
                </div>
                <div class="col-md-3"> <!-- botones-->
                    <!-- BOTONES MENU TAREA ---->
                    <p><!-- boton aceptar -->
                        <button name="acciones" id="aceptar" type="button" class="btn-disable" data-toggle="modal" data-target="#exampleModal">
                            Aceptar tarea
                        </button></p>
                    <!-- Boton iniciar -->
                    <p> <button name="acciones" id="iniciar" type="button" class="btn-disable" data-toggle="modal" data-target="#exampleModal2">
                            Iniciar tarea
                        </button></p>
                    <!-- Boton subordinar tarea -->
                    <p><button name="acciones" id="subordinar" type="button" class="btn-disable" data-toggle="modal" data-target="#exampleModal3">
                            Subordinar tarea
                        </button><p>
                        <!-- Button reportar problema -->
                    <p><button name="acciones" id="reportar" type="button" class="btn-disable" data-toggle="modal" data-target="#exampleModal6">
                            Reportar problema
                        </button><p>
                        <!-- Button dar por terminada -->
                    <p><button name="acciones" id="terminar" type="button" class="btn-disable" data-toggle="modal" data-target="#exampleModal5">
                            Enviar a revisión
                        </button></p>
                    <!-- Button trigger modal -->
                    <p><button name="acciones" id="rechazar" type="button" class="btn-disable" data-toggle="modal" data-target="#exampleModal7">
                            Rechazar tarea
                        </button></p>
                    <!-- Boton salir - vuelve a la pantalla anterior -->
                    <p><a th:href="@{/flujotrabajo}"><button class="btn-flujo">
                                Salir
                            </button></a></p>
                </div>
            </div>
            <!-- MODALES DE LOS BOTONES -->
            <!-- Modal aceptar -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Atención</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Está aceptando esta tarea</p>
                            <p>¿Desea continuar?</p>
                        </div>
                        <div class="modal-footer">
                            <form method="POST" th:action="@{/AceptarTarea(id=${tareasEjecutadas.idtarea})}">
                                <button class="btn-flujo" type="submit">Si</button>
                            </form>
                            <button type="button" class="btn-flujo" data-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal iniciar -->
            <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel2">Atención</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Dará por inciada esta tarea</p>
                            <p>¿Desea continuar?</p>
                        </div>
                        <div class="modal-footer">
                            <form method="POST" th:action="@{/iniciarTarea(id=${tareasEjecutadas.idtarea})}">
                                <button class="btn-flujo" type="submit">Si</button>
                            </form>
                            <button type="button" class="btn-flujo"  data-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Subordinar -->
            <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true" "overflow-y: scroll;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel3">Subordinar Tarea</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="d-flex p-2 border border-secondary">
                                <p><span th:text=${tareasEjecutadas.tarea}>a</span></p>
                            </div>

                            <form th:action="@{/subordinar}" name="subordinarform">
                                <div class="form-group">
                                    </br>
                                    <input type="hidden" th:value="${tareasEjecutadas.idProcesoEjecutado}" th:name="idproceso"/>
                                    <input type="hidden" th:value="${tareasEjecutadas.idtarea}" th:name="idtarea"/>
                                    Nombre de la tarea
                                    <input type="text" class="form-control" id="tareaSubordinada" placeholder="ingrese el nombre de la nueva tarea" th:name="nombreSub">
                                    Descripcion
                                    <textarea name="subDescripcion" class="form-control" id="descripcionSubordinada" rows="3" th:name="descripcionSub"></textarea>
                                    </br>
                                    </br>
                                    <label for="duracion">Duración de la tarea: </label>
                                    <input name="subDuracion" type="number" value="1" min="1" max="365" step="1" th:name="duracionSub"/>&nbsp;días
                                    <div class="col-lg-6" th:object="${funcionariosList}">
                                        <div th:each="responsable : ${funcionariosList}" th:object="${responsables}">
                                            <input name="subResponsable" type="checkbox" th:value="${responsable.run}" id="checked" th:name="responsableSub">
                                            <label class="form-check-label" for="defaultCheck1">
                                                <p th:text="${responsable.nombres}+' '+${responsable.apellidop}"></p>
                                            </label>
                                        </div>
                                    </div>


                                </div><!-- cierre del group form-->
                                <!-- boton enviar-->
                                <input name="subCrear" type="submit" value="crear tarea" class="btn-disable" id="btnvalida"/>
                            </form><!-- cierre del form-->
                            <button type="button" class="btn-flujo" data-dismiss="modal">Cancelar</button>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal reportar problema -->
            <div class="modal fade" id="exampleModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel6" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel6">Reportar problema</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <form th:action="@{/reportar}">
                                <input type="hidden" th:value="${tareasEjecutadas.idtarea}" th:name="id"/>
                                <textarea class="form-control" id="descripcionRechazo" rows="3" th:name="descripcion"></textarea>
                                <button class="btn-flujo" type="submit">Reportar problema</button>
                            </form>
                            <button type="button" class="btn-flujo" data-dismiss="modal">cancelar</button>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal 5 dar por terminada -->
            <div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel5">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ¿Está seguro que desea dar por terminada esta tarea?
                        </div>
                        <div class="modal-footer">
                            <form method="POST" th:action="@{/terminarTarea(id=${tareasEjecutadas.idtarea})}">
                                <button class="btn-flujo" type="submit">Si</button>
                            </form>
                            <button type="button" class="btn-flujo" data-dismiss="modal5">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal 8 rechazar -->
            <div class="modal fade" id="exampleModal8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel8" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel8">Rechazar tarea</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Ingrese la justificacion</p>
                            <form action="action">
                                <textarea class="form-control" id="descripcionproblema" rows="3"></textarea>
                            </form>
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn-flujo">Aceptar</button>
                            <button type="button" class="btn-flujo" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Rechazar -->
            <div class="modal fade" id="exampleModal7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel7" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel7">Rechazar la tarea</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Justifique el motivo del rechazo</p>
                            <form th:action="@{/rechazarTarea}">
                                <input type="hidden" th:value="${tareasEjecutadas.idtarea}" th:name="id">
                                <textarea class="form-control" id="descripcionrechazo" rows="3" th:name="descRechazo"></textarea>
                                <p>Esta información será enviada a su supervisor para aprobar o rechazar su solicitud</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn-flujo" type="submit">Enviar rechazo</button>
                            </form>
                            <button type="button" class="btn-flujo" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- cierre iterar datos-->
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
<script type="text/javascript">

    function activar(elemento)
    {
        elemento.prop('disabled', false);
        elemento.removeClass('btn-disable');
        elemento.addClass('btn-flujo');
    }
    function desactivar(elemento)
    {
        elemento.prop('disabled', false);
        elemento.removeClass('btn-disable');
        elemento.addClass('btn-flujo');
    }
    $('[name$="Sub"]').change(function(){

    });
    function validarSubordinar()
    {
      var nombre = $('[name="nombreSub"]').val();
      var descripcion = $('[name="descripcionSub"]').val();
      var duracion = $('[name="duracionSub"]').val();
      var responsable = false;
      $('[name="responsableSub"]').each(function(){
        responsable = $(this).prop('checked');
        if(responsable)
        return false;
      });

      if(nombre!="" && descripcion!="" && duracion!="" && responsable)
        activar($('[name=subCrear]'));
      else {
        desactivar($('[name=subCrear]'));
      }

    }
    $(document).ready(function () {
        var estado = $('#estadoTarea').html();
        $('button[name="acciones"]').each(function () {
            console.log('si entra');
            $(this).prop('disabled', true);
        });
        switch (estado) {
            case 'Programada':
                activar($('#aceptar'));
                activar($('#rechazar'));
                break;

            case 'Aceptada':
                activar($('#iniciar'));
                activar($('#subordinar'));
                break;

            case 'En Desarrollo':
                activar($('#subordinar'));
                activar($('#reportar'));
                activar($('#terminar'));
                break;
        }
    });
</script>
