<html>
    <head th:replace="layout/plantilla :: head"></head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <div sec:authorize="hasAnyRole('FUNCIONARIO')" ><h1>Usted no tiene autotización para ver esta información</h1></div><!--para usuario funcionario-->
        <div sec:authorize="hasAnyRole('ROLE_SUPERVISOR','ROLE_GERENCIA')" > <!--autorización de contenido-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-7">
                        <h1>Tarea a gestionar: <span th:text="${tarea.tarea}"></span></h1>
                        </br>

                        <h4>Fecha de inicio prevista</h4><p th:text="${tarea.fPrevInicio}"></p>
                        </br>

                        <h4>Fecha de finalizacion prevista</h4><p th:text="${tarea.fPrevFin}"></p>
                        </br>

                        <h4>Estado de la tarea</h4><p th:text="${tarea.estado}"></p>
                        </br>

                        <h4>Nombre del departamento</h4><p th:text="${tarea.subunidad}"></p>
                        </br>

                        <h4>Proceso ejecutado a la que pertenece</h4><p th:text="${tarea.procesoEjecutado}"></p>
                        </br>

                        <h4>Observaciones de la tarea</h4>
                        <!-- Data Table Observaciones de la tarea -->
                        <span th:if="${observaciones == null or observaciones.empty}"> Esta tarea no tiene registrada las observaciones</span>


                        <div th:if="${observaciones != null and !observaciones.empty}" class="contenedor-data">
                            <table id="tareasRun" class="table table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>N°</th>
                                        <th>Fecha</th>
                                        <th>Quien lo realiza</th>
                                        <th>Comentario</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr name="row" th:each="comentario,iterationStatus  : ${observaciones}">
                                        <td th:text="${iterationStatus.count}">1</td>
                                        <td th:text="${comentario.fecha}"></td>
                                        <td th:text="${comentario.nombre}"></td>
                                        <td th:text="${comentario.comentario}"></td>
                                    </tr>

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>N°</th>
                                        <th>Fecha</th>
                                        <th>Quien lo realiza</th>
                                        <th>Comentario</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <img src="../static/img/tarea2.jpg" th:src="@{img/tarea2.jpg}" width="400px">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        </br>
                        <h4>Responsable(s) actual(es) de la tarea</h4>
                        <span th:each="responsable : ${tarea.responsables}">
                            <ul>
                                <li><p th:text="${responsable.nombre}"></p></li>
                            </ul>
                        </span>
                    </div>
                    <div class="col-md-6">
                        </br>
                        <h4>Descripcion actual de la tarea</h4>
                        <p th:text="${tarea.descTarea}"></p>
                    </div>
                </div>                <div class="row">
                    <div class="col-md-12">
                        <hr>
                    </div>

                </div>
                <form th:action="@{/updatetarea}">
                    <div class="row">

                        <div class="col-md-6">
                            </br>
                            <h4> Nuevo(s) Responsable(s)</h4>
                            <div class="leyenda">
                                <p>Puede seleccionar la(s) personas de su departamento para ejecutar esta tarea</p>
                            </div>
                            <div th:if="${funcionarios != null and !funcionarios.empty}" class="contenedor-data">
                                <table id="gestionaResponsables" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>N</th>
                                            <th>Nombre</th>
                                            <th>Seleccionar</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr name="row" th:each="responsable, iter : ${funcionarios}">
                                            <td th:text="${iter.index}+1"></td>
                                            <td><p th:text="${responsable.nombres}+' '+${responsable.apellidop}"></p></td>
                                            <td><input type="checkbox" th:value="${responsable.run}" id="checked" th:name="responsable"></td>
                                        </tr>

                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>N</th>
                                            <th>Nombre</th>
                                            <th>Seleccionar</th>
                                        </tr>
                                    </tfoot>
                                </table>

                                <div th:if="${funcionarios == null or funcionarios.empty}">
                                    Este departamento no cuenta con funcionarios
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            </br>
                            <h4>Nueva descripcion</h4>
                            <div class="leyenda">
                                <p>Puede ingresar una nueva descripción a la tarea (opcional)</p>
                            </div>
                            <textarea class="form-control" id="exampleFormControlTextarea1" th:name="descripcion" rows="5"></textarea>
                        </div>
                        <hr>
                        <!-- DATOS PARA UPDATE -->
                        <input type="hidden" th:value="${tarea.idtarea}" th:name="idtarea">
                        <input type="hidden" th:value="${tarea.idProcesoEjecutado}" th:name="idProcesoEjecutado">
                        <center><input id="gestionar" class="btn btn-disable" type="submit" value="Gestionar"/> </center>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <!-- Controller volver -->
                        <form th:action="@{/volverProceso}">
                            <input type="hidden" th:value="${tarea.idtarea}" th:name="idtarea"/>
                            <input type="submit" class="btn btn-warning" value="Cancelar"/>
                        </form>
                    </div>
                </form>

                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
            </div><!--fin contenedor-->
        </div><!--fin de autorizacion de contenido-->
        <footer th:replace="layout/plantilla :: footer"></footer>
        <script th:src="@{/js/datatables.min.js}"></script>
        <script th:src="@{/js/procesosData.js}"></script>
        <script type="text/javascript">

          function activar (elemento)
          {
            elemento.prop('disabled',false);
            elemento.removeClass('btn-disable');
            elemento.addClass('btn-success');
          }
          function desactivar (elemento)
          {
            elemento.prop('disabled',false);
            elemento.addClass('btn-disable');
            elemento.removeClass('btn-success');
          }
          $('#gestionar').prop('disabled',true);

          function validar()
          {
              var descripcion = $('textarea[name="descripcion"]').val();
              var check = false;
              $('input[name="responsable"]').each(function(){
                check = $(this).prop('checked');
                if(check)
                return false;
              });
              if(descripcion !="" || check)
                activar($('#gestionar'));
              else {
                desactivar($('#gestionar'));
              }
          }

          $('textarea[name="descripcion"]').change(function(){
            validar();
          });
          $('input[name="responsable"]').change(function(){
            validar();
          });
        </script>
    </body>
</html>
