<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:include="layout/plantilla :: head">
        <body>

            <header th:replace="layout/plantilla :: header"></header>

            <div class="container-fluid">


                <div class="row">
                    <div class="col-md-8">
                        <h1>Bienvenido(a) a Apolonia</h1>
                        <p>Esta es la plataforma de Process S.A, para ayudarlo a trabajar más conectado en sus labores con sus colaboradores y/o colegas</p>
                        </br>



                    </div>
                    <div class="col-md-4">

                        <img src="../static/img/trabajoequipo.png" th:src="@{img/trabajoequipo.png}">
                    </div>
                </div>
            </div>



            <footer th:replace="layout/plantilla :: footer"></footer>
        </body>
</html>
