<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:include="layout/plantilla :: head"></head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <div sec:authorize="hasAnyRole('FUNCIONARIO')" ><h1>Usted no tiene autotización para ver esta información</h1></div><!--para usuario funcionario-->
        <div sec:authorize="hasAnyRole('ROLE_SUPERVISOR','ROLE_GERENCIA')" > <!--autorización de contenido-->
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h2>Tarea: <span th:text="${tarea.tarea}"></span></h2>
                    </br>
                    <h3>Datos de la tarea</h3>
                    <p>Responsable(s):                                        
                        <span th:each="responsable : ${tarea.responsables}">
                            <span th:text="${responsable.nombre}" />                                   
                        </span></p>
                    <p>Fecha de Inicio esperada:<span th:text="${tarea.fPrevInicio}"></span></p>
                    <p>Fecha de Inicio real: <span th:text="${tarea.fRealInicio}"></span></p>
                    <p>Fecha de de término esperada: <span th:text="${tarea.fPrevFin}"></span></p>
                    <p>Fecha de término real: <span th:text="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"></span></p> (*Será marcada como el día de hoy)</p>
                    <p>Descripcion: <span th:text="${tarea.descTarea}"></span></p>
                    <p>Observaciones / Comentarios:</p>
                    <!-- Data Table Observaciones de la tarea -->
                    <span th:if="${observaciones == null or observaciones.empty}"> Esta tarea no tiene registrada las observaciones</span>
                    <div th:if="${observaciones != null and !observaciones.empty}" class="contenedor-data">
                        <table id="revision1" class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>Fecha</th>
                                    <th>Quien lo realiza</th>
                                    <th>Comentario</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr name="row" th:each="comentario,iterationStatus  : ${observaciones}">
                                    <td th:text="${iterationStatus.count}">1</td>
                                    <td th:text="${comentario.fecha}"></td>
                                    <td th:text="${comentario.nombre}"></td>
                                    <td th:text="${comentario.comentario}"></td>
                                </tr>

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>N°</th>
                                    <th>Fecha</th>
                                    <th>Quien lo realiza</th>
                                    <th>Comentario</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- ARCHIVOS -->
                    <h3>Listado de archivos asociados a la tarea</h3>
                    <span th:if="${archivo == null or archivo.empty}"> Esta tarea no posee archivos asociados</span>


                    <div th:if="${archivo != null and !archivo.empty}" class="contenedor-data">
                        <table id="tareasRun" class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>Nombre</th>
                                    <th>Descargar</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr name="row" th:each="archivo,iterationStatus  : ${archivo}">
                                    <td th:text="${iterationStatus.count}">1</td>
                                    <td th:text="${archivo.nombre}">1</td>
                                    <td th:text="${archivo.fecha}">1</td>
                                    <td>
                                        <form th:action="@{/descargar}">
                                            <input type="hidden" th:value="${archivo.id}"  th:name="idArchivo" />
                                            <input type="hidden" th:value="${archivo.nombre}"  th:name="nombreArchivo" />
                                            <input class="no-border" type="submit" value="descargar" ><img src="img/archivo.png" alt="archivo ico"></input>
                                        </form>
                                    </td>

                                </tr>

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>N°</th>
                                    <th>Nombre</th>
                                    <th>Fecha</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="d-flex align-items-end"><img src="../static/img/revisar.png" th:src="@{img/revisar.png}" width="400px"></div>
                    
                </div>
                <hr style="height:20px; width:100%; border-width:0; color:red; background-color: #cdd4df"></br>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="d-flex justify-content-end">
                        <!-- informacion al controller--> 
                        <form th:action="@{/apruebarevision}">
                            <input type="hidden" th:value="${tarea.idtarea}" th:name="idtarea"/> 
                            <input type="submit" class="btn btn-success" value="Aceptar revision"/> 
                        </form>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="leyenda">
                        <p> Al aceptar la tarea, la dará por terminada</p>
                        <p> Al rechazar la tarea, ésta volverá a encontrarse en desarrollo</p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="d-flex justify-content-start">
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal1">
                            Rechazar solicitud
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel1">Rechazar solicitud</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form th:action="@{/rechazarevision}">
                                            <input type="hidden" th:value="${tarea.idtarea}" th:name="idtarea"/>
                                            Ingrese el motivo por el cual considera que esta tarea no debe ser dada por terminada:
                                            <textarea class="form-control" th:name="motivo" id="exampleFormControlTextarea1" rows="5"></textarea>
                                            </br>
                                            <input type="submit" class="btn btn-success" value="Rechazar solicitud"/>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Volver atrás</button>
                                        </form>
                                     </div>
                                    <div class="modal-footer">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"></footer>
        <script th:src="@{/js/datatables.min.js}"></script>
        <script th:src="@{/js/revision.js}"></script>
    </body>
</html>
