<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head th:replace="layout/plantilla :: head">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header">

        </header>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <h1> Gestion de tareas y procesos </h1><!-- Inicio -->

                    </br>
                    </br>
                    </br>
                    <div class="leyenda">
                        <p> En esta pagina encontrará la información y acciones necesarias para ayudar a sus colaboradores a trabajar en equipo:</p>
                        </br>
                        <p><span style="font-weight:bold;">1. Ejecutar un proceso:</span> aqui podrá ver los procesos que hemos preparado para su departamento</p>
                        <p><span style="font-weight:bold;">2. Aprobar o rechazar una tarea: </span>aquí podrá ver las tareas que han sido rechazadas, para gestionarlas</p>
                        <p><span style="font-weight:bold;">3. Tareas en revisión: </span> Aqui podrá encontrar aquellas tareas que se encuentran listas para ser revisadas por usted, con el fin de dar por terminadas</p>
                        <p><span style="font-weight:bold;">4. Gestionar tarea: </span> cambiar la persona responsable o responsables de las tareas que se encuentran en su departamento</p>
                    </div>
                </div>
                <div class="col-md-2 derecha">
                    <img type="image" src="../static/img/gestiona.png" th:src="@{img/gestiona.png}" alt="gestiona"/>
                </div>
            </div>
            <div class="row">

                <div class="col-md-12">
                    <!-- Ejecutar proceso-->
                    <hr style="height:20px; width:100%; border-width:0; color:red; background-color: #cdd4df">
                    <div class="row">
                        <div class="col-md-8">
                            <h3>1. Ejecutar un proceso:</h3>
                            </br><!-- redirecciona al ejecutar proceso normal -->
                            <a class="dropdown-item" th:href="@{/ejecutarproceso}"><button class="btn-flujo">Ejecutar proceso</button></a>
                        </div>
                        <div class="col-md-4">
                            <img type="image" src="../static/img/start.jpg" th:src="@{img/start.jpg}"  width="400px" alt="start"/>
                        </div>           
                    </div>
                    <hr style="height:20px; width:100%; border-width:0; color:red; background-color: #e5dede">
                </div>
            </div>
            <!-- Aprobar o rechazar una tarea-->

            <div class="row">
                <div class="col-md-2">
                    <img type="image" src="../static/img/rechazo.jpg" th:src="@{img/rechazo.jpg}"  width="400px" alt="start"/>

                </div>
                <div class="col-md-10">
                    <h3>2. Aprobar o rechazar una tarea de su departamento</h3>
                    </br>

                    <!-- Data Table tareas rechazadas, listadas por estado RECHAZADA y SUBUNIDAD -->
                    <span th:if="${rechazadas == null or rechazadas.empty}"> Su departamento no tiene tareas rechazadas... ¡enhorabuena!</span>


                    <div th:if="${rechazadas != null and !rechazadas.empty}" class="contenedor-data">
                        <table id="rechazo" class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>Tarea</th>
                                    <th>Responsable</th>
                                    <th>Fecha límite</th>
                                    <th>Gestionar</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr name="row" th:each="rechazadas,iterationStatus  : ${rechazadas}">
                                    <td th:text="${iterationStatus.count}">1</td>
                                    <td th:text="${rechazadas.tarea}">1</td>
                                    <td>
                                        <span th:each="responsable : ${rechazadas.responsables}">
                                            <p th:text="${responsable.nombre}" />                                     
                                        </span>
                                    </td>
                                    <td th:text="${rechazadas.fPrevFin}"></td>
                                    <td>
                                        <!-- informacion al controller rechazo--> 
                                        <form th:action="@{/rechazo}">
                                            <input type="hidden" th:value="${rechazadas.idtarea}" th:name="idtarea"/> 
                                            <input type="submit" class="btn-table"/> 
                                        </form>
                                    </td>
                                </tr> <!-- fin de iteracion de datos-->

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>N°</th>
                                    <th>Tarea</th>
                                    <th>Responsable</th>
                                    <th>Fecha límite</th>
                                    <th>Gestionar</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>           
            </div>
            <hr style="height:20px; width:100%; border-width:0; color:red; background-color: #cdd4df">

            <!-- 3. Tareas en revisión:-->

            <div class="row">
                <div class="col-md-12">
                    <h3>3. Tareas en revisión:</h3>
                    <!-- Data Table tareas en REVISION por SUBUNIDAD -->
                    <span th:if="${revision == null or revision.empty}"> Su departamento no tiene tareas en estado para ser revisadas</span>



                    <div th:if="${revision != null and !revision.empty}" class="contenedor-data">
                        <table id="rechazo" class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>Tarea</th>
                                    <th>Responsable</th>
                                    <th>Fecha límite</th>
                                    <th>Gestionar</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr name="row" th:each="tarea,iterationStatus  : ${revision}">
                                    <td th:text="${iterationStatus.count}">1</td>
                                    <td th:text="${tarea.tarea}">1</td>
                                    <td>
                                        <span th:each="responsable : ${tarea.responsables}">
                                            <p th:text="${responsable.nombre}" />                                     
                                        </span>
                                    </td>
                                    <td th:text="${tarea.fPrevFin}"></td>
                                    <td> 
                                        <!-- informacion al controller--> 
                                        <form th:action="@{/revision}">
                                            <input type="hidden" th:value="${tarea.idtarea}" th:name="idtarea"/> 
                                            <input type="submit" class="btn-table"/> 
                                        </form>

                                    </td>
                                </tr> <!-- fin de iteracion de datos-->

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>N°</th>
                                    <th>Tarea</th>
                                    <th>Responsable</th>
                                    <th>Fecha límite</th>
                                    <th>Gestionar</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

            </div>
            <hr style="height:20px; width:100%; border-width:0; color:red; background-color: #e5dede">


            <!--boton volver-->
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                </div>
                <div class="col-md-2">
                    <a class="btn-flujo" th:href="@{/flujotrabajo}"> <button class="btn-flujo">Volver a mi flujo de trabajo</button></a>
                    <!-- Aprobar o rechazar una tarea-->
                </div>
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"></footer>
        <script th:src="@{/js/datatables.min.js}"></script>
        <script th:src="@{/js/solicitudes.js}"></script>
        
        <script>
            $("tr[name='row']").each(function () {

                var date = new Date($(this).children("td[name='end']").html());
                var today = new Date();
                var timeLeft = (date.getTime() - today.getTime()) / (1000 * 60 * 60 * 24);
                console.log(timeLeft);

                if (timeLeft > 7)
                {
                    $(this).children("td[name='control']").addClass("bg-success");
                } else if (timeLeft > 0)
                {
                    $(this).children("td[name='control']").addClass("bg-warning");
                } else
                {
                    $(this).children("td[name='control']").addClass("bg-danger");
                }
            });
        </script>
    </body>
</html>
