<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head th:replace="layout/plantilla :: head">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <h1> Lista de tareas para el proceso </h1><!-- Inicio -->
                    <h4>  <span class="sangria" th:text="${proceso.proceso}"/><h1></h4>
                    </br>
                    </br>
                    </br>
                    <div class="leyenda">
                        <p>Aquí podrá observar las tareas correspondientes al proceso seleccionado</p>
                    </div>
                </div>
                <div class="col-md-2 derecha">
                    <img type="image" src="../static/img/tareaproceso.jpg" th:src="@{img/tareaproceso.jpg}" width="400px" alt="tareaproceso"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- Data Table Listado de tareas por RUN -->
                    <span th:if="${tareas == null or tareas.empty}"> Usted no tiene tareas asignadas</span>


                    <div th:if="${tareas != null and !tareas.empty}" class="contenedor-data">
                        <table id="tareasRun" class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>Tarea</th>
                                    <th>Asignada por</th>
                                    <th>Fecha límite</th>
                                    <th>Control</th>
                                    <th>Estado</th>

                                </tr>
                            </thead>
                            <tbody>

                                <tr name="row" th:each="tareas,iterationStatus  : ${tareas}">
                                    <td th:text="${iterationStatus.count}">1</td>
                                    <td th:text="${tareas.tarea}">Mostrar Tarea</td>
                                    <td th:text="${tareas.ejecutor}">Mostrar Asignado por</td>
                                    <td name="end" th:text="${tareas.fPrevFin}">Mostrar fecha fin</td>
                                    <td name="control"></td>
                                    <td th:text="${tareas.estado}">Mostrar fecha fin</td>

                                </tr>

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>N°</th>
                                    <th>Tarea</th>
                                    <th>Asignada por</th>
                                    <th>Fecha límite</th>
                                    <th>Control</th>
                                    <th>Estado</th>

                                </tr>
                            </tfoot>
                        </table>
                    </div>


                    <hr style="height:20px; width:100%; border-width:0; color:red; background-color: #cdd4df">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <a class="btn-flujo" th:href="@{/flujotrabajo}"> <button class="btn-flujo">Volver a mi flujo de trabajo</button></a>
                </div>
            </div>
        </div>
 
    <footer th:replace="layout/plantilla :: footer"></footer>
    <script th:src="@{/js/datatables.min.js}"></script>
    <script th:src="@{/js/procesosData.js}"></script>
    <script>
        $("tr[name='row']").each(function () {

            var date = new Date($(this).children("td[name='end']").html());
            var today = new Date();
            var timeLeft = (date.getTime() - today.getTime()) / (1000 * 60 * 60 * 24);
            console.log(timeLeft);

            if (timeLeft > 7)
            {
                $(this).children("td[name='control']").addClass("bg-success");
            } else if (timeLeft > 0)
            {
                $(this).children("td[name='control']").addClass("bg-warning");
            } else
            {
                $(this).children("td[name='control']").addClass("bg-danger");
            }
        });
    </script>
</body>
</html>
