<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:include="layout/plantilla :: head"></head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <div class="container-fluid" th:each="tarea  : ${tarea}">
            <div class="row">
                <div class="col-md-6">
                    <h2> Detalles de la tarea </h2>
                    <p style="font-weight:bold">Asignado por: </p> <span th:text="${tarea.ejecutor}"></span>
                     
                    <p style="font-weight:bold"> Responsables:</p>
                    <span th:each="responsable  : ${tarea.responsables}"><p th:text="${responsable.nombre}"></p></span>
                    <p style="font-weight:bold"> Descripción: </p> <span th:text="${tarea.descTarea}"></span>
                    <p style="font-weight:bold">Fecha de asignación: </p> <span th:text="${#dates.format(tarea.fechaAsignacion, 'dd-MM-yyyy')}"></span>
                    <p style="font-weight:bold">Fecha de de inicio: </p> <span th:text="${#dates.format(tarea.fPrevInicio, 'dd-MM-yyyy')}">fecha de inicio prevista</span>                                                     
                    <p style="font-weight:bold">Fecha de de término prevista </p><span th:text="${#dates.format(tarea.fPrevFin, 'dd-MM-yyyy')}">fecha de término prevista</span>
                    <p style="font-weight:bold">Estado</p> <span id="estadoTarea" th:text="${tarea.estado}"></span>

                </div>
                <div class="col-md-6">
                    <img src="../static/img/tarea3.png" th:src="@{img/tarea3.png}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <a class="dropdown-item" th:href="@{/flujotrabajo}"><button class="btn-flujo"> Volver</button></a>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>



        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>