<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:include="layout/plantilla :: head"></head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <div class="container-fluid" th:each="tarea  : ${tarea}">
            <div class="row">
                <div class="col-md-6">
                    <h2> Detalles de la tarea </h2>
                    <p> <b>Asignado por: </b><span th:text="${tarea.ejecutor}"></span> </p>
                    <p><b>Responsable(s):</b></p>
                    <span th:each="responsable : ${tarea.responsables}">
                        <p th:text="${responsable.nombre}"></p>
                    </span>
                    <p> <b>Descripción:</b>  <span th:text="${tarea.descTarea}"></span></p>
                    <p><b>Fecha de asignación:</b> <span th:text="${#dates.format(tarea.fechaAsignacion, 'dd-MM-yyyy')}"></span></p>
                    <p><b>Fecha de de inicio</b> <span th:text="${#dates.format(tarea.fPrevInicio, 'dd-MM-yyyy')}">fecha de inicio prevista</span></p>                                                      
                    <p><b>Fecha de de término prevista</b> <span th:text="${#dates.format(tarea.fPrevFin, 'dd-MM-yyyy')}">fecha de término prevista</span></p>
                    <p><b>Estado</b> <span id="estadoTarea" th:text="${tarea.estado}"></span></p>

                </div>
                <div class="col-md-6">
                    <img src="../static/img/tarea.jpg" th:src="@{img/tarea.jpg}" width="50%">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <a class="dropdown-item" th:href="${redireccion}"><button class="btn-flujo"> Volver</button></a>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>



        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>